[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "==0.60.1"
pytest = "*"
loguru = "*"
uvicorn = "*"
ujson = "*"
mysql-connector = "*"
api = {editable = true,path = "."}
pandas = "*"
pymysql = "*"
requests = "*"

[requires]
python_version = "3.6"
